module.exports = {
  newsletter: {
  newsletter1Id: '{{account_api_newsletterId1}}',
  newsletter2Id: '{{account_api_newsletterId2}}',
  mailchimpUrl: '{{account_api_mailchimpUrl}}',
  mailchimpApiKey: '{{account_api_mailchimpApiKey}}'
  },
  firebase: {
    project: '{{account_api_firebaseProject}}',
    firebaseCliToken: '{{account_api_firebaseCliToken}}'
  },
  mail: {
    password: '{{account_api_mailPassword}}'
  }
};
